@{
    var query = ViewBag.Query as LogPagedQuery;
}
@model List<Log>
<div class="layui-card">
    <div class="layui-card-header">
        <span class="layui-breadcrumb">
            <a href="">控制台</a>
            <a href="">站点管理</a>
            <a><cite>日志</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <form class="layui-form layui-row layui-col-space16">
            <div class="layui-col-sm3">
                <select name="Type">
                    <option value="">类型</option>
                    @foreach (EnumLogTypes item in Enum.GetValues(typeof(EnumLogTypes)))
                    {
                        if (query?.Type == (int)item)
                        {
                            <option value="@((int)item)" selected>@item.GetDescription()</option>
                        }
                        else
                        {
                            <option value="@((int)item)">@item.GetDescription()</option>
                        }
                    }
                </select>
            </div>
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-primary" lay-submit><i class="layui-icon layui-icon-search"> 查询</i></button>
            </div>
        </form>
        @if (Model != null && Model.Any())
        {
            <table class="layui-table" lay-even>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>类型</th>
                        <th>内容</th>
                        <th>时间</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@(((EnumLogTypes)item.Type).GetDescription())</td>
                            <td>@item.LogContent</td>
                            <td>@item.CreatedAt.ToDateTimeString("yyyy-MM-dd HH:mm:ss fff")</td>
                        </tr>
                    }
                </tbody>
            </table>
            <partial name="_Pagination" />
        }
        else
        {
            <partial name="_None" />
        }
    </div>
</div>