@inject YBlog.Services.ICacheService cacheService
@{
    var webConfigs = cacheService.GetWebConfigView();
    var metaKeywords = ViewData["MetaKeywords"]?.ToString();
    var metaDescription = ViewData["MetaDescription"]?.ToString();
    var themeMode = Context.Request.GetThemeMode();
}
<!DOCTYPE html>
<html lang="zh" @Html.Raw(themeMode == EnumThemeModes.Dark ? "class=\"dark\"" : string.Empty)>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @if (!string.IsNullOrWhiteSpace(metaKeywords))
    {
        <meta name="keywords" content="@metaKeywords" />
    }
    @if (!string.IsNullOrWhiteSpace(metaDescription))
    {
        <meta name="description" content="@metaDescription" />
    }
    <link rel="stylesheet" href="@cacheService.GetAssetsUrl("/assets/layui/css/layui.css")" />
    @if (themeMode == EnumThemeModes.Dark)
    {
        <link rel="stylesheet" id="dark-css" href="@cacheService.GetAssetsUrl("/assets/layui/css/layui-theme-dark.css")" />
    }
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
    @if (!string.IsNullOrWhiteSpace(webConfigs.Analytics))
    {
        @Html.Raw(webConfigs.Analytics)
    }
</head>
<body>
    <partial name="_Header" />
    <div class="main-container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="layui-bg-black">
        @if (!string.IsNullOrWhiteSpace(webConfigs.Copyright))
        {
            @Html.Raw(webConfigs.Copyright)
        }
    </footer>
    <script src="@cacheService.GetAssetsUrl("/assets/jquery-3.5.1/dist/jquery.min.js")"></script>
    <script src="@cacheService.GetAssetsUrl("/assets/layui/layui.js")"></script>
    <script src="~/js/jquery.form.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
