@model UserRequest
@section Styles {
    <style>
        .layui-upload-list img {
            max-width: 160px !important;
        }
    </style>
}
@section Scripts {
    <script src="~/js/jquery.upload.js"></script>
    <script>
        function initUpload(defaultUrl) {
            $('.upload-form-item').initUpload({
                name: 'Avatar',
                labelText: '头像',
                uploadButtonText: '选择文件',
                defaultUrl: defaultUrl
            });
        }
        initUpload('@(Model.Avatar)');
        $('form').initForm({
            verify: {
                Nickname: function (value, elem) {
                    if (value.length > 12) {
                        return '昵称不能超过12个字符';
                    }
                    if (value.length < 4) {
                        return '昵称不能少于4个字符';
                    }
                },
                Job: function (value, elem) {
                    if (value) {
                        if (value.length > 12) {
                            return '职业不能超过12个字符';
                        }
                        if (value.length < 2) {
                            return '职业不能少于2个字符';
                        }
                    }
                },
                Introduction: function (value, elem) {
                    if (value) {
                        if (value.length > 300) {
                            return '职业不能超过300个字符';
                        }
                        if (value.length < 8) {
                            return '职业不能少于8个字符';
                        }
                    }
                }
            },
            success: (result) => {
                if (result && result.avatar) {
                    $('.upload-form-item').empty();
                    initUpload(result.avatar);
                }
            }
        });
    </script>
}
<div class="layui-row layui-col-space15">
    <div class="layui-col-xs12 layui-col-md3">
        <partial name="_UserInfo" />
        <partial name="_Menu" />
    </div>
    <div class="layui-col-xs12 layui-col-md9">
        <div class="layui-card">
            <div class="layui-card-header">
                <span class="layui-breadcrumb">
                    <a href="">账户管理</a>
                    <a><cite>用户信息</cite></a>
                </span>
            </div>
            <div class="layui-card-body layui-row">
                <form class="layui-form">
                    <div class="layui-col-md6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">昵称</label>
                            <div class="layui-input-block">
                                <input type="text" name="Nickname" lay-verify="required|Nickname" placeholder="" autocomplete="off" class="layui-input" value="@Model.Nickname">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机</label>
                            <div class="layui-input-block">
                                <input type="text" name="Mobile" lay-verify="number" placeholder="" autocomplete="off" class="layui-input" value="@Model.Mobile">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-block">
                                <input type="text" name="Email" lay-verify="email" placeholder="" autocomplete="off" class="layui-input" value="@Model.Email">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-form-item">
                            <label class="layui-form-label">职业</label>
                            <div class="layui-input-block">
                                <input type="text" name="Job" lay-verify="Job" placeholder="" autocomplete="off" class="layui-input" value="@Model.Job">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">介绍</label>
                        <div class="layui-input-block">
                            <textarea autocomplete="off" name="Introduction" lay-verify="Introduction" class="layui-textarea">@Model.Introduction</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item upload-form-item"></div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit>提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
